{
	"id" : "flip"
	,"quorum" : 1
	,"gossip_interval" : 1000
	,"key" : "secret"
	,"ping_per_interval" : 1
	,"ping_timeout" : 1500
	,"servers" : 
		{"flip" : {"ip" : "127.0.0.1","port" : 2200, "priority": 1, "systems": ["ip"]}
		,"flip1" : {"ip" : "127.0.0.1","port" : 2201, "systems": ["ip"]}
		,"flip2" : {"ip" : "127.0.0.1","port" : 2202, "systems": ["ip"]}
		,"flip3" : {"ip" : "127.0.0.1","port" : 2203, "systems": ["ip"]}}
	,"cluster" : 
		{"config": {}
		,"system":
			{"ip":
				{"alive" : "up"
				,"down" : "down"
				,"type" : "shard"
				,"config" : {"interface" : "net1"}
				,"data" : ["192.168.0.4","192.168.0.2","192.168.0.3","192.168.0.1"]}}}
}