{
	 "gosip_port" : 2201
	,"id" : "flip1"
	,"gosip_ip" : "127.0.0.1"
	,"gossip_interval" : 1000
	,"gossip_max" : 5
	,"key" : "secret"
	,"max_pings" : 5
	,"ping_timeout" : 1500
	,"systems": ["ip"]
	,"servers" : 
		[{"id" : "flip","ip" : "127.0.0.1","port" : 2200, "systems": ["ip"]}
		,{"id" : "flip2","ip" : "127.0.0.1","port" : 2202}]
	,"cluster" : 
		{"config": 
			{"interface":"net1"}
		,"system":
			{"ip":
				{"alive" : "echo alive"
				,"down" : "echo down"
				,"new" : "echo new"
				,"data" : ["192.168.0.1","192.168.0.2","192.168.0.3","192.168.0.4"]}}}
}